{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags event_tags %}

{% block body_class %}template-biopage{% endblock %}
{% block content %}


<p><h2 class="uk-h4">LYDIA VENIERI</h2>
Born in Athens, Greece<br/>
Lives and works in New York</p>


<p><h2 class="uk-h4">EDUCATION</h2>

Studied at the Ecole Nationale, Superieure des<br/>
Beaux Arts<p>

      {% with img=page.get_image_0  %}
        {% image img width-800 as rimg %}
        <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
    {% endwith %}





<h2 class="uk-h4">Solo Shows</h2>
    <ul class="uk-list">
{%for event in solo_shows %}
        {% if forloop.counter0 == 11 %}
            {% with img=page.get_image_1  %}
                {% image img width-800 as rimg %}
                <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
            {% endwith %}
        {% endif %}
<li>
{% ifchanged event.start_date.year %}
<b>{{event.start_date|date:"Y" }}</b>
{% endifchanged %}
<i>{{event.title|title}}</i>{% if event.venue %}, {{event.venue|title}}, {{event.location|title}} {% endif %}</li>
{% endfor %}
</ul>


{% with img=page.get_image_2  %}
    {% image img width-800 as rimg %}
    <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
{% endwith %}


<h2 class="uk-h4">Group Shows</h2>
    <ul class="uk-list">
{%for event in group_shows %}
            {% if forloop.counter0 == 11 %}
{% with img=page.get_image_3  %}
    {% image img width-800 as rimg %}
    <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
{% endwith %}
        {% endif %}

         {% if forloop.counter0 == 20 %}
{% with img=page.get_image_4  %}
    {% image img width-800 as rimg %}
    <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
{% endwith %}
        {% endif %}

        {% if forloop.counter0 == 30 %}
{% with img=page.get_image_5  %}
    {% image img width-800 as rimg %}
    <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
{% endwith %}
        {% endif %}


          {% if forloop.counter0 == 40 %}
{% with img=page.get_image_6  %}
    {% image img width-800 as rimg %}
    <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
{% endwith %}
        {% endif %}

<li>
{% ifchanged event.start_date.year %}
<b>{{event.start_date|date:"Y" }}</b>
{% endifchanged %}
<i>{{event.title|title}}</i>{% if event.venue %}, {{event.venue|title}}, {{event.location|title}} {% endif %}</li>
{% endfor %}
</ul>

{% with img=page.get_image_7  %}
    {% image img width-800 as rimg %}
    <img src="{{rimg.url}}" alt="Lydia Venieri, {{img.title}}" uk-img>
{% endwith %}

{% endblock %}