{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailschemaorg_tags %}
{% block body_class %}template-eventsindexpage{% endblock %}



{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>


{% for event in eventpages %}
    {% with event=event.specific %}


<article class="uk-article {{event.slug}}">
     {% ld_for_object event %}
    <h2 class="uk-h3"><a class="uk-link-reset" href="{% pageurl event %}">{{event.title}}</a></h2>
      <div class="uk-cover-container uk-height-medium " uk-height-viewport>
            {% image event.main_image max-1000x500 as main_image %}

                {% if main_image %}
                    <img src="{{main_image.url}}" alt="Lydia Venieri, {{event.title}}" uk-cover>
                {% endif %}

                        </div>
                        <p class="uk-article-meta">{{event.date}}</p>
                <p class="uk-text-lead">
                      <p>{{ event.intro|richtext }}</p>
                </p>
                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                        <div>
                             <a class="uk-button uk-button-text" href="{% pageurl event %}">Read more</a>
                        </div>
                    </div>

                    </article>

    {% endwith %}
{% endfor %}


{% endblock %}