{% extends "base.html" %}

{% load wagtailschemaorg_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<h1 class=""uk-h2">{{ page.title }}</h1>
<p class="meta">{{ page.date }}</p>

{% ld_for_object page %}

<!--{% with categories=page.categories.all %}-->
    <!--{% if categories %}-->
        <!--<h3>Posted in:</h3>-->
        <!--<ul>-->
            <!--{% for category in categories %}-->
                <!--<li style="display: inline">-->
                    <!--{% image category.icon fill-32x32 style="vertical-align: middle" %}-->
                    <!--{{ category.name }}-->
                <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% endif %}-->
<!--{% endwith %}-->

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}



<div class="uk-child-width-1-2@s uk-child-width-1-3@m  uk-child-width-1-4@l" uk-grid uk-lightbox="animation: slide">

        {% for item in page.gallery_images.all %}
    <div>
         {% image item.image max-1000x500 as main_image %}
        <a class="uk-inline" href="{{main_image.url}}" data-caption="{{ item.image.title  }}">
                 <img  src="{{main_image.url}}" alt="Lydia Venieri - {{ item.image.title }}"   uk-img>
        </a>
    </div>
            {% endfor %}
</div>


<!--{% if page.tags.all.count %}-->
    <!--<div class="tags">-->
        <!--<h3>Tags</h3>-->
        <!--{% for tag in page.tags.all %}-->
            <!--<a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--{% endif %}-->

    <!--<p><a href="{{ page.get_parent.url }}">Return to events</a></p>-->

{% endblock %}