<.header>
  Edit Reference {@reference.id}
  <:subtitle>Use this form to manage reference records in your database.</:subtitle>
</.header>

<.reference_form changeset={@changeset} action={~p"/archives/references/#{@reference}"} />

<.back navigate={~p"/archives/references"}>Back to archives/references</.back>
