<div class="mx-auto max-w-4xl max-h-dvh py-5  px-3  md:px-20">
    <.navbar socket={@socket} />


    <.header class="mt-4 md:mt-16">
 {@post.title}
    </.header>

 


 
   



    <div class="pt-4 pb-4 md:pt-4 md:pb-16">
        <p>{description(@post)}</p>
    </div>
</div>


     
 
