{% extends "base.html" %}

{% load embed_video_tags %}
{% load archive_tags %}
{% load render_json_ld from json_ld %}
{% block about_lydia %}{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
    {% render_json_ld art.sd %}
  {% with media=art.media.first %}

    {% if media.is_horizontal %}
        <div  uk-lightbox>


            <div class="uk-margin">
                 {% if media.image %}
                <a href="{{media.image.crop.2000x1000 }}">
                    <img src="{{media.image.url}}"  alt="Lydia Venieri, {{art.title}}" uk-img>
                </a>
                {% else %}
                    <a href="{{media.video_url }}">
                    {% video media.video_url as art_video %}
                        <iframe src="{{art_video.url}}?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" width="560" height="315" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true" uk-cover></iframe>
                    {% endvideo %}
                    </a>

                {% endif %}
            </div>
               {% if art.project %}
                <h1 class="uk-margin-remove uk-h2">
                    <a class="uk-link-reset" href="{% url 'project' art.project.slug %}">{{ art.project }}</a>
                </h1>
            {% endif %}
                <h2 class="uk-margin-remove uk-h4">{{ art.title }}</h2>
          <p>{{art.description}}</p>
        </div>
    {% else %}
        <div uk-grid>
            <div class="uk-width-2-3@m">
  <a href="{{ media.image.url }}">
                    <img src="{{media.image.thumbnail.1000x1000 }}"  alt="Lydia Venieri, {{art.title}}" uk-img
            </a>        </a>


            </div>
            <div class="uk-width-1-3@m">
                    {% if art.project %}
                <h1 class="uk-margin-remove uk-h2">
                    <a class="uk-link-reset" href="{% url 'project' art.project.slug %}">{{ art.project }}</a>
                </h1>
            {% endif %}
                <p class="uk-text-lead">{{art.title}}</p>
                <p>{{art.description|safe}}</p>
            </div>
        </div>
    {% endif %}
   {% endwith %}
{% endblock %}