{% extends "base.html" %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load archive_tags %}
{% load render_json_ld from json_ld %}
{% block about_lydia %}{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
    {% render_json_ld project.sd %}
<article class="uk-article ">

    <h1 class="uk-margin-remove uk-h3"><a class="uk-link-reset" href="">{{ project.title }}</a></h1>

    {{ project.statement|safe }}

    <div class="uk-child-width-1-2@s uk-child-width-1-3@m  uk-child-width-1-4@l uk-text-center" uk-grid="masonry: true"
         uk-lightbox="animation: slide">

        {% for art in project.visible_art %}

        <div class="">
            {% render_art art=art %}

        </div>
        {% endfor %}
    </div>


    {% endblock %}