{% load staticfiles %}

{% load vtags %}
{% load meta %}



<!DOCTYPE html>
<html>
    <head {% meta_namespaces %}>
    {% include "meta/meta.html" %}
        <title>{% block title %}Lydia Venieri {% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

    </head>
    <body>
         <div class="uk-container uk-container-small">
        <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
                    {% block nav_home %}<li class="uk-active"><a href="/events/">Lydia Venieri</a></li>{% endblock %}
                 {% block nav_bio %} <li class="uk-parent"><a href="/page/bio/">Bio</a></li>{% endblock %}
                  {% block nav_projects %}<li class="uk-parent"><a href="/projects/">Projects</a></li>{% endblock %}
                  {% block nav_work %}<li class="uk-parent"><a href="">Work</a></li>{% endblock %}
                  {% block nav_vw %}<li class="uk-parent"><a href="">Virtual World</a></li>{% endblock %}
        </ul>
    </div>
</nav>
</div>

 {% block about %}
<div class="uk-section uk-padding-small">
    <div class="uk-container uk-container-small ">
        <div  class="uk-clearfix">
             {% block about_lydia %}
            <div class="uk-float-left">
                <h1>LYDIA VENIERI</h1>
                <div class="uk-text-meta">
                Born Athens, Greece<br />
                Lives and works in New York<br />
                lydia_at_venieri.com
                </div>
            </div>
                {% endblock %}

            <div class="uk-float-right">
                    {% art pk=7 as lydia %}
                <img data-src="{{lydia.poster.url}}" width="" height="" alt="Lydia Venieri" uk-img>
            </div>
        </div>



    </div>
</div>
         {% endblock %}

  {% block banner %}
<div class="uk-section uk-padding-small">
    <div class="uk-container uk-container-small">
 <div class="uk-cover-container uk-height-medium">
     {% art pk=8 as banner %}
        <img src="{{banner.poster.url}}" alt="Lydia Venieri, {{banner.title}} {{banner.date}}" uk-cover>
        </div>
    </div>
</div>
         {% endblock %}

<div class="uk-section uk-padding-small ">
    <div class="uk-container  uk-container-small">
         {% block content %}{% endblock %}
    </div>
</div>


    </body>
</html>