{% extends "base.html" %}
{% load staticfiles %}

{% load vtags %}

{% block about_lydia %}{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
            {%for event in events %}
                <style>
                   {{event.css|safe}}
               </style>

                    <article class="uk-article {{event.slug}}">
                        <h2 class="uk-article-title"><a class="uk-link-reset" href="">{{event.title}}</a></h2>
                        <div class="uk-cover-container uk-height-large"  >
                            <img src="{{event.poster.image.url}}" alt="Lydia Venieri, {{event.poster.title}}" uk-cover>
                        </div>
                        <p class="uk-article-meta">{{event.date}}</p>
                <p class="uk-text-lead">
                     {% render event.leader %}
                </p>
                    <div class="uk-grid-small uk-child-width-auto" uk-grid>
                        <div>
                             <a class="uk-button uk-button-text" href="{{event.get_absolute_url}}">Read more</a>
                        </div>
                    </div>

                    </article>
            {% endfor %}

{% if is_paginated %}
    <ul class="uk-pagination uk-flex-center" uk-margin>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}"><span uk-pagination-previous></span></a></li>
        {% else %}
            <li><a class="uk-disabled"><span uk-pagination-previous></span></a></li>
        {% endif %}
       <!-- {% for i in paginator.page_range %}
            {% if page_obj.number == i %} -->
                <li class="uk-active"><span>{{ i }}</span></li>
        <!--pip install django-gm2m    {% else %}
                <li><a href="?page={{i}}">{{ i }}</a></li>
            {% endif %}
        {% endfor %} -->
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}"><span uk-pagination-next></span></a></li>
        {% else %}
            <li><a class="uk-disabled"><span uk-pagination-next></span></a></li>
        {% endif %}
    </ul>
{% endif %}

{% endblock %}