{% extends "base.html" %}
{% load staticfiles %}

{% load vtags %}



{% block content %}


<!--<div class="uk-section">x-->
    <!--<div class="uk-container">-->
 <!--<div class="uk-cover-container uk-height-medium">-->
     <!--{% art pk=8 as banner %}-->
        <!--<img src="{{banner.poster.url}}" alt="Lydia Venieri, {{banner.title}} {{banner.date}}" uk-cover>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


         {% render current_page.content %}

<!--


                </article>
        <article class="uk-article">
            <h2 class="uk-article-title"><a class="uk-link-reset" href="">THE NEW YORK PUBLIC LIBRARY PRESENTS THEOGONY</a></h2>
            <div class="uk-cover-container"  style="height:1200px;">
                <img uk-height-viewport  src="http://www.venieri.com/venieri/Lydia_Venieri/Media/object021.jpg"  alt="Lydia Venieri, THEOGONY, 2011" uk-cover>
            </div>
            <p class="uk-article-meta">May, 2011</p>
    <p class="uk-text-lead">Marking the publication of Theogony, the influential artist Lydia Venieri, art historian Anastasia Aukeman and writer and reporter Michael Skafidas discuss the book and the work of this prolific...</p>
        <div class="uk-grid-small uk-child-width-auto" uk-grid>
            <div>
                 <a class="uk-button uk-button-text" href="#">Read more</a>
            </div>
        </div>

        </article>
-->

 {% endblock %}