{% extends "base.html" %}
{% load staticfiles %}

{% load vtags %}

{% block about %}{% endblock %}
{% block banner %}{% endblock %}


{% block content %}
<div class="uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid="masonry: true">
            {%for project in projects %}
                <style>
                   {{project.css|safe}}
               </style>
    <div>

        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url({{project.poster.image.url}});">
            <h2 class="uk-h3 uk-light"> <a href="{{project.get_absolute_url}}">{{ project.title }}</a></h2>
        </div>


    </div>

            {% endfor %}



{% endblock %}