{% extends "base.html" %}
{% load staticfiles %}

{% load vtags %}

{% block about %}{% endblock %}
{% block banner %}{% endblock %}


{% block content %}
                <style>
                   {{event.css|safe}}
               </style>


                <h2 class="uk-margin-small">{{project.title}}</h2>


<p>{{ project.description }}</p>
<!--<div uk-slideshow="animation: push">-->

    <!--<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">-->

        <!--<ul class="uk-slideshow-items">-->
            <!--{%for media in project.albums.first.media.all %}-->
            <!--<li>-->
                <!--<img src="{{ media.image.url }}" title="{{media.caption}}" alt="{{media.caption}}"  uk-img>-->
                <!--<h3>{{media.caption}}</h3>-->
            <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->

        <!--<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>-->
        <!--<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>-->

    <!--</div>-->

    <!--<ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>-->
<!--</div>-->

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

    <ul class="uk-slider-items uk-grid">
                 {%for media in project.albums.first.media.all %}
        <li class="uk-width-5-6">
            <div class="uk-panel">
                <div uk-grid>
    <div class="uk-width-1-2"><img src="{{ media.image.url }}" alt="{{media.caption}}" uk-img   ></div>
    <div class="uk-width-1-2"><h2 class="uk-h3" style="color:black;">{{media.caption}}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p></div>
</div>


            </div>
        </li>
        {% endfor %}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>







{% endblock %}