{% extends "base.html" %}


{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<!--<p class="meta">{{ page.date }}</p>-->

<!--{% with categories=page.categories.all %}-->
    <!--{% if categories %}-->
        <!--<h3>Posted in:</h3>-->
        <!--<ul>-->
            <!--{% for category in categories %}-->
                <!--<li style="display: inline">-->
                    <!--{% image category.icon fill-32x32 style="vertical-align: middle" %}-->
                    <!--{{ category.name }}-->
                <!--</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--{% endif %}-->
<!--{% endwith %}-->

  <article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ page.title }}</a></h1>



    <!--<p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>-->

   {{ page.body|richtext }}
    <!--<div class="uk-grid-small uk-child-width-auto" uk-grid>-->
        <!--<div>-->
            <!--<a class="uk-button uk-button-text" href="#">Read more</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a class="uk-button uk-button-text" href="#">5 Comments</a>-->
        <!--</div>-->
    <!--</div>-->
<div uk-slideshow="animation: push">
    <ul class="uk-slideshow-items">
        {% for item in page.gallery_images.all %}
        <li>
            <div class="uk-card">
                    <!--<div class="uk-card-header">-->
                        <!--<h3 class="uk-card-title uk-margin-remove-bottom">{{ item.image.title }}</h3>-->
                    <!--</div>-->
                <div class="uk-card-body">
                        <h3 class="uk-margin-remove-bottom">{{ item.image.title }}</h3>
                        {% image item.image width-800 as main_image %}
                        <img src="{{main_image.url}}" alt="Lydia Venieri - {{ item.image.title }}" uk-img>
                        <p>{{item.image.description|linebreaksbr}}</p>

                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</article>





{% if page.tags.all.count %}
    <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
    </div>
{% endif %}


{% endblock %}