<div class="p-4 text-gray-700 w-7xl">

 
<% post = Venieri.Archives.Posts.get!(32) |> Venieri.Repo.preload(:media) %>
 

 

 
  



<div>
  <h1 class="text-2xl font-medium">ΒΥΡΩΝΙΚΟΣ ΚΩΔΙΞ - BYRONIC CODEX</h1>

<p class="text-base text-justify leading-relaxed pt-3">
  Municipal Gallery of Athens presents  a documentary on the life of Lord Byron by <span class="font-bold">Lydia Venieri</span> 
</p>

</div>
<div class="pt-4 md:pt-6">

</div>

<iframe title="vimeo-player" src="https://player.vimeo.com/video/772147720?h=f1978fd1c1" width="800" height="450"  frameborder="0" referrerpolicy="strict-origin-when-cross-origin" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"   allowfullscreen></iframe>

</div>