<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] h-full bg-black">

 
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Venieri" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="h-full min-h-full place-items-center">

  <div class="mx-auto   max-h-max max-w-7xl px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="mx-auto max-w-3xl">
    <!-- Content goes here -->

<div class="relative  align-middle overflow-x-auto">

<div class="grid grid-flow-row-dense   content-center grid-cols-3 grid-rows-3 gap-4 p-20">
    <div class="justify-self-end"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/apology/apicon.gif" alt=" apology"></a></div>
    <div class="justify-self-start"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/herstory.gif" alt=" apology"></a></div>
    <div class="justify-self-start"><a href="/virtual-world/apology/index.html"><img src="https://www.venieri.com/virtual-world/modelc/images/iimodel.gif" alt=" apology"></a></div>
    <div class="justify-self-end"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/ifin.gif" alt=" apology"></a></div>
    <div class="row-span-2 -span-2"><a href="/"><img src="https://venieri.com/virtual-world/images/ilydia.gif" alt=" apology"></a></div>
    <div class="justify-self-end"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/isis.gif" alt=" apology"></a></div>
    <div class="justify-self-start"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/imartha.gif" alt=" apology"></a></div>
    <div class="justify-self-start"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/iegg.gif" alt=" apology"></a></div>
    <div class="justify-self-end"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/tarota.gif" alt=" apology"></a></div>
    <div class="justify-self-end"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/mail.gif" alt=" apology"></a></div>
    <div class="justify-self-stretch"><a href="/virtual-world/apology/index.html"><img src="https://venieri.com/virtual-world/images/alicon.gif" alt=" apology"></a></div>
</div>
  </div>
  </div>
</div>
</body>
</html>